.h-10 {
    height: 10%;
}

.h-90 {
    height: 90%;
}

.lista-epis {

}

.tags-epis {

}

.epi-wrap {

}

.tag-epi {
    width: 226px;
    height: 226px;
    background-size: 226px 226px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    background-image: url(../imgs/1.png);
}

.tag-epi-1 {
    background-image: url("../imgs/capacete.jpg");
}
.tag-epi-2 {
    background-image: url("../imgs/avental.jpg");
}
.tag-epi-3 {
    background-image: url("../imgs/oculos.jpg");
}
.tag-epi-4 {
    background-image: url("../imgs/sapatos.jpg");
}
.tag-epi-5 {
    background-image: url("../imgs/luva_pano.jpg");
}
.tag-epi-6 {
    background-image: url("../imgs/luva_couro.jpg");
}
.tag-epi-7 {
    background-image: url("../imgs/luva_borracha.jpg");
}
.tag-epi-8 {
    background-image: url("../imgs/mascara.jpg");
}
.tag-epi-9 {
    background-image: url("../imgs/protetor_ouvido.jpg");
}
.tag-epi-0 {
    background-image: url("../imgs/protetor_braco.jpg");
}

label {

}

input {
    
}
